@using System.Xml.Linq;
@{
    
    Page.Title = "BlueSea";

    var description = "%"+Request["product"]+"%";
    var categoryFilter = "%"+UrlData[0]+"%";
    var db = Database.Open("digamboa_bluesea");
    var listOfCategoriesSQL = "SELECT FK_DepartmentId, departmentName from TB_Department";
    var listOfCategories = db.Query(listOfCategoriesSQL);
    var listOfProductsSQL = "SELECT PK_ItemId, description, price, itemNumber FROM TB_Item WHERE description like @0 OR searchText like @0";
    if(!categoryFilter.IsEmpty()) {
        listOfProductsSQL = "SELECT PK_ItemId, description, price, itemNumber FROM TB_Item WHERE (description like @0 OR searchText like @0) AND department like @1";
    }
    var listOfProducts = db.Query(listOfProductsSQL, description, categoryFilter);
    var listOfProductsGrid = new WebGrid(listOfProducts, ajaxUpdateContainerId: "grid", canSort: false, rowsPerPage: 100);
    var service = new cr.fi.bccr.indicadoreseconomicos.wsIndicadoresEconomicos();
    var result = service.ObtenerIndicadoresEconomicosXML("317", DateTime.Now.ToString("dd/MM/yyyy"), DateTime.Now.ToString("dd/MM/yyyy"), "BlueSea", "S");
    var xml = XDocument.Parse(result);
    var exchangeValue = xml.Descendants("Datos_de_INGC011_CAT_INDICADORECONOMIC").Descendants("INGC011_CAT_INDICADORECONOMIC").Select(val => new {
        Num_Value = val.Element("NUM_VALOR").Value
    }).FirstOrDefault();
    var exchangeString = exchangeValue.Num_Value.Substring(0, 6);
    var exchangeFloat = float.Parse(exchangeString);
    var charge = float.Parse("1.245");

    var productId = Request["productId"].AsInt();
    var price = Request["price"].AsDecimal();
    var quantity = Request["orderQty"].AsInt();
    var cartId = 0;
    var totalItems = 0;
    var command = String.Empty;

     if(Request.Cookies["cart"] != null){
        cartId = Request.Cookies["cart"].Value.AsInt();
        command = "SELECT SUM(quantity) AS totalItems FROM TB_PurchaseLine WHERE FK_PurchaseId = @0";
        object resultQty = db.QueryValue(command, cartId);
        totalItems = resultQty == DBNull.Value ? 0 : Convert.ToInt32(resultQty);
     }

    if(IsPost && quantity > 0) {
        if(Request.Cookies["cart"] == null) {
            command = "INSERT INTO TB_Purchase (date) VALUES (GetDate())";
            db.Execute(command);
            cartId = (int)db.GetLastInsertId();
        }
        command = "SELECT quantity from TB_PurchaseLine WHERE FK_PurchaseId = @0 AND FK_ItemId = @1";
        var reduction = db.QueryValue(command, cartId, productId);
        if(reduction != null) {
            totalItems -= reduction;
        }

        command = "delete from TB_PurchaseLine where FK_PurchaseId = @0 and FK_ItemId = @1";
        db.Execute(command, cartId, productId);
        command = "insert into TB_PurchaseLine (quantity, linePrice, FK_ItemId, FK_PurchaseId) values (@0, @1, @2, @3)";
        db.Execute(command, quantity, price, productId, cartId);
        totalItems += quantity;
        Response.Cookies["cart"].Value = cartId.ToString();
    }
}



<div class="content">
    <div class="content-left">
        <div class="row1">
            <div class="welcome">
                <h1 class="title">Welcome to <span class="blueTitle">Blue Sea</span></h1>
                <p><i>Thanks for shopping with us!</i><br>When you are ready to checkout, please go to your list of products to proceed</p>
            </div>
        </div>
        <div class="row2">
            <div class="section1">
                <h2 class="subtitle">Products</h2>
                <form method="post">
                    <style>
                        .effectfront {
                            border: none;
                            margin: 0 auto;
                            height: 50px;
                        }
                        .effectfront:hover {
                            -webkit-transform: scale(5);
                            -moz-transform: scale(5);
                            -o-transform: scale(5);
                            transform: scale(5);
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            position: absolute;
                        }
                    </style>
                    <div id="grid">
                        <input type="text" id="filter" name="product" value="@Request["product"]"/> 
                        <input type="submit" value="Search Product"/>
                        @listOfProductsGrid.GetHtml(
                            tableStyle : "table",
                            alternatingRowStyle : "alternateTable",
                            headerStyle : "headerTable",
                            rowStyle : "rowTable",
                            columns: listOfProductsGrid.Columns(
                                        listOfProductsGrid.Column(
                                        "",
                                        "",
                                        style: "effectfront",
                                        format: @<img src="@Href("~/images/items/"+@item.itemNumber+".jpg")" alt="@item.description" onerror="this.src='images/noimage.jpg'" height="50" width="50">),
                                        listOfProductsGrid.Column(
                                        columnName: "description",
                                        header: "Description"),
                                     listOfProductsGrid.Column(
                                        columnName: "price",
                                        header: "Price",
                                        format: @<text>$@string.Format("{0:f}", (@item.price / @exchangeFloat)*@charge)</text>),
                                    listOfProductsGrid.Column(
                                        "",
                                        "Quantity",
                                        format: @<form method="post" action="" id="place_order">
                                                    <select name="orderQty" >
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>
                                                    <input type="hidden" value="@item.PK_ItemId" name="productId" />
                                                    <input type="hidden" value="@string.Format("{0:f}", (@item.price / @exchangeFloat)*@charge)" name="price"/>
                                                    <input type="submit" value="Add to cart" />
                                                    </form>)
                            )
                         )

                    </div>
                </form>
                @section script{
                <script type="text/javascript">
                   $(function(){
                        $('th a, tfoot a').live('click', function() {
                            $('form').attr('action', $(this).attr('href', '#product')).submit();
                            return false;
                        });
                    });
                </script>
                }
            </div>

        </div>
    </div>
    <div class="content-right">
        <h2>Main Menu</h2>
        <ul>
            <li style="border-top: medium none;"><a href="~/home">Home</a></li>
            <li><a href="~/about">About&nbsp;Us</a></li>
            <li><a href="contact.cshtml">Contact</a></li>
            <li><a href="list_of_products.cshtml">My&nbsp;List (@totalItems)</a></li>
        </ul>
        <h2>Categories</h2>
        <ul>
            @foreach(var category in listOfCategories) {
                <li><a href="~/home/@category.FK_DepartmentId">@category.departmentName</a></li>
            }
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>





